body {
    font-family: Arial, sans-serif;
}

.search-container {
    text-align: center;
    margin-top: 20px;/*below the tab pannel*/
    margin-left: 70px;/*almost in the center of the page*/
}

#search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}