/* Light Theme Styles */
body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Theme Styles */
body.dark-theme {
    background-color: #1a1a1a;
    color: #ffffff;
}

/* Dark Mode Toggle Button Styles */
#dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#dark-mode-toggle:hover {
    background-color: #0056b3;
}